#container{
    border: 20px solid #ccc;
    width: 70vw;
    margin: 1rem auto;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
}

.news-image{
    width: 450px;
    
}

section article p{
    font-weight: 400;
    letter-spacing: 0.5px;
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}